.destination {
  margin: 4rem 6rem;
  text-align: center;

  h1 {
    font-size: 4rem;
  }

  .first-destination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;

    .des-text {
      width: 45%;
      text-align: start;
      font-size: 1.1rem;

      h2 {
        padding-bottom: 1rem;
      }
    }

    .images {
      position: relative;
      width: 50%;
      display: flex;
      justify-content: space-between;
      z-index: -99;

      img {
        width: 49%;
        height: 350px;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.2);

        &:nth-child(2) {
          position: absolute;
          top: -10%;
          right: 0;
        }
      }
    }
  }

  .first-destination-reverse {
    @extend .first-destination;
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 850px) {
  .destination {
    margin: 4rem 2rem;

    .first-destination {
      flex-direction: column-reverse;
      margin-top: 2.5rem;

      .des-text {
        width: 100%;
      }

      .images {
        width: 100%;
        margin: 1.8rem 0;

        img {
          height: 300px;
        }
      }
    }

    .first-destination-reverse {
      flex-direction: column-reverse;
    }
  }
}
