.container {
  margin: 4rem 4rem;
  color: #2a2a2a;
  position: relative;
  display: flex;
  flex-direction: row;

  form {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 50%;

    h1 {
      text-align: center;
      font-size: 4rem;
      margin-bottom: 2rem;
    }

    p {
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 20px;
    }

    .input {
      position: relative;

      label {
        font-size: 18px;
      }

      input {
        width: 100%;
        height: 3rem;
        padding: 0 1rem;
        margin-bottom: 2rem;
        border-radius: 0.3rem;
        border: 1px solid rgb(26, 26, 26);
        font-size: 20px;
      }
    }

    textarea {
      width: 100%;
      font-size: 20px;
      padding: 0.8rem;
      margin-bottom: 2rem;
      border-radius: 0.3rem;
      border: 1px solid rgb(26, 26, 26);
      resize: none;
    }

    button {
      width: 100%;
      padding: 10px;
      font-size: 20px;
      background-color: rgb(26, 26, 26);
      border-radius: 0.3rem;
      color: rgb(232, 232, 232);
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        color: rgb(26, 26, 26);
        background-color: rgb(232, 232, 232);
      }
    }

    .error {
      position: absolute;
      right: 0%;
      top: -5%;
      color: red;
      font-size: 20px;
    }
  }

  .socials {
    width: 50%;
    margin: 3rem 6rem;
    h1 {
      font-size: 3rem;
      text-align: center;
    }

    .info {
      display: flex;
      margin: 2rem 5rem !important;
      flex-direction: column;
      width: 70%;
      margin: auto;
      font-size: 2rem;

      .tool {
        margin: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        i {
          color: rgb(59, 202, 186);
          text-shadow: 2px 2px 2px #2a2a2a;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .container {
    margin: 3rem 3rem;

    .socials {
      width: 60%;
      margin: 3rem 4rem;
    }
  }
}

@media screen and (max-width: 1400px) {
  .container {
    margin: 2rem 2rem;

    form {
      width: 50%;
    }

    .socials {
      width: 50%;
      margin: 3rem 1rem;

      .info {
        width: 80%;
      }
    }
  }
}
@media screen and (max-width: 1250px) {
  .container {
    .socials {
      .info {
        font-size: 1.5rem;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .container {
    form {
      h1 {
        font-size: 3rem;
      }
    }
    .socials {
      h1 {
        font-size: 2.5rem;
      }
      .info {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .container {
    width: 100%;
    flex-direction: column;

    form {
      padding-top: 2rem;
      width: 95%;
    }

    .socials {
      width: 90%;
      margin: 2rem 0rem ;
      .info {
        margin: 2rem 1rem !important;
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .container {
    form {
      h1 {
        font-size: 2rem;
      }
    }

    .socials {
      .info {
        font-size: 1.3rem;
      }
    }
  }
}
